:root {
    --size: 100px;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}

img {
    width: 60px;
}

body {
    display: flex;
    height: 100vh;
    background: linear-gradient(112.72deg, #0FA642 0%, #1f007699 99.15%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#window {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content:unset;
    align-items: center;
}

#BUTTON-SECTION {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

#GAME-BLOCKER {
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    background-color: #ffffff2a;
    justify-content: center;
}

#ALERT-TEXT {
    font-size: 45px;
    font-weight: bolder;
    font-family: monospace;
}

.XO {
    width: var(--size);
    height: var(--size);
    background-color: transparent;
    font-size: 40px;
    font-weight: bold;
    border-color: #FFF;
    border-style: solid;
    transition: 0.5s;
}

.XO:hover {
    background-color: #FFFFFF9C;
}

.XO:nth-child(1) {
    border-width: 0 3px 3px 0;
}

.XO:nth-child(2) {
    border-width: 0 0 3px 0;
}

.XO:nth-child(3) {
    border-width: 0 0 3px 3px;
}

.XO:nth-child(4) {
    border-width: 0 3px 0 0;
}

.XO:nth-child(5) {
    border: none;
}

.XO:nth-child(6) {
    border-width: 0 0 0 3px;
}

.XO:nth-child(7) {
    border-width: 3px 3px 0 0;
}

.XO:nth-child(8) {
    border-width: 3px 0 0 0;
}

.XO:nth-child(9) {
    border-width: 3px 0 0 3px;
}

.player-icon {
    display: none;
} 

#GAMEPOSITION {
    display: inline-flex;
    width: 300px;
    margin-bottom: 20px;
}

.player-score {
    text-align: center;
    width: 40px;
    margin-right: 90px;
    font-size: 20px;
    font-weight: bold;
}

.score-x {
    color: #01C9E4;
}

.score-o {
    color: #1F1D88;
}

.score-tie {
    color: #444444;
}
 
#GAME-CONTROL {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
    margin-top: 10px;
}

.control-button {
    border: none;
    background-color: #3232b9;
    box-shadow: 0 10px 2px #222296;
    color: #FFF;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 70px;
    transition: 0.5s;
}

.control-button:hover {
    background-color: rgb(20, 18, 105);
    box-shadow: 0 10px 2px rgb(50, 50, 185);
}
